client_id=aaaa
client_secret=bbbb
redirect_uri=https://localhost
sage_api_endpoint=https://api.accounting.sage.com/v3.1

dolibarr_url=http://dolibarr
dolibarr_api_endpoint=http://dolibarr/api/index.php
dolibarr_api_key=cccc